spring:
  application:
    name: instaCatBack
  datasource:
    url: jdbc:h2:mem:instacatdb;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
server:
  port: ${PORT:8080} 